/* element: child, siblings, adjacent sibling, all siblings, direct, pseudo-class */
/* class:pseudo-class */
/* id */

/* element this has a specificity of 001 meaning using one element */
h1{
    color: red;
}

p{
    color: blue;
}

/* direct child element */

body > h1{
    color: green;
}
/* body > div > p{
    color: green;
} */


/* all children selector */

body p{
    color: violet;
}
/* direct children/ children selector */
h1 ~ p{
    color: orange;
}
p ~ p{
    color: orange;
}

/* adjacent sibling selector */
h1 + p{
    color: cyan;
}

p + p + p {
    color: fuchsia;
}

/* any element selector */
*{
    /* border: 2px solid red; */
    font-weight: normal;
    margin: 0;
    text-decoration: none;
    padding: 0;
    color: inherit;
}

/* pseudo element */
::selection{
    color: black;
}

h2::first-letter,h1::first-letter{
    color: brown;
}